[submodule "hardware/library"]
	path = hardware/main/library
	url = ../library-altium.git
[submodule "hardware/temp/library"]
	path = hardware/temp/library
	url = ../library-altium.git
[submodule "hardware/light_humid/library"]
	path = hardware/light_humid/library
	url = ../library-altium.git
[submodule "examples/08-01-accelerometer_and_magnetometer/ag"]
	path = examples/08-01-accelerometer_and_magnetometer/ag
	url = ../fxos8700cq.git
[submodule "examples/09-01-gyroscope/gyro"]
	path = examples/09-01-gyroscope/gy
	url = ../fxas21002c.git
